/bin/
/tools/prod/Pokemon_Xhenos.exe
/tools/prod/Pokemon_Xhenos_console.exe
/tools/build/jre/
/tools/Output/PokemonXhenosInstaller.exe
/releases/*
!/releases/.gitkeep
/tools/dist/*
!/tools/dist/.gitkeep
/tools/mac_bundle
/classes/