<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>0.8.0-alpha</string>
    <key>CFBundleDisplayName</key>
    <string>Pokemon Xhenos</string>
    <key>CFBundleIdentifier</key>
    <string>com.shaekuhnke.pokemonxhenos</string>
    <key>CFBundleVersion</key>
    <string>%VERSION%</string>
    <key>CFBundleExecutable</key>
    <string>PokemonXhenos</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>PokemonXhenos.icns</string>
</dict>
</plist>
